<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Tylenol Autism Lawsuit </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="tylenol autism, tylenol adhd, acetaminophen autism" />
    <meta name="description" content="You may qualify for compensation if you took Tylenol or Generic Acetaminophen during your pregnancy and your child was diagnosed with Autism Spectrum Disorder (ASD)">
    <meta property="og:title" content="Financial Compensation For Parents Of Children With Autism Spectrum Disorder"/>
    <meta property="og:type" content="website"/>
    <meta property="twitter:type" content="website">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,700&display=swap" rel="stylesheet">
    <link href="{{url_for('static',path='/css/newsmall.css')}}" rel="stylesheet" type="text/css"/>



    </head>
<body>




</body>
</html>