<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Tylenol Autism Thank you </title>

    <meta name="robots" content="index,follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="tylenol autism, tylenol adhd, acetaminophen autism" />
    <meta name="description" content="You may qualify for compensation if you took Tylenol or Generic Acetaminophen during your pregnancy and your child was diagnosed with Autism Spectrum Disorder (ASD)">
    <meta property="og:title" content="Financial Compensation For Parents Of Children With Autism Spectrum Disorder"/>
    <meta property="og:type" content="website"/>
    <meta property="twitter:type" content="website">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,900;1,700&display=swap" rel="stylesheet">

    <link href="{{url_for('static',path='/css/new.css')}}" rel="stylesheet" type="text/css"/>


            <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '612226083918432');
        fbq('track', 'Lead');


    </script>
            <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=612226083918432&ev=Lead&noscript=1"/></noscript>

    </head>
    <body class="body">
        <div class="top-sec wf-section">
            <div class="top-cont-wider w-container">
                <div class="text-white text-center">Consumer Injury Settlements</div>
            </div>
        </div>
        <div class="mid-sec wf-section">
            <div class="mid-cont-wider w-container">
                <h1 class="title"><strong>
                    Thank you for submitting your information.</strong> One of our case review experts will reach out shortly to get more information.

</h1>
          
            </div>
        </div>
        <div class="bottom-sec wf-section">
            <div class="container-7 w-container">
                <div class="usa-footer-legal-text">
                    Please seek the advice of medical professionals before making health care related decisions. This site is not part of or associated with any government agency or body.<br/> <br/> 
                    This site is not a part of the Facebook website or Facebook Inc. This site is not endorsed by Facebook in any way. Facebook is a trademark of Facebook, Inc. 
                    This site is not part of Youtube or Google, LLC. This site is NOT endorsed or part of Google. Youtube is a trademark of Google, LLC.<br/><br/> 
                    This is a paid attorney / advocate advertisement. This website is a group advertisement and a fee is paid for by participating attorneys. This website does not provide legal services. This website is not an attorney referral service or prepaid legal service plan.This website does not make any representation of the qualifications, expertise, or credentials of participating attorneys. No representation is made that the quality of legal services to be performed is greater than the quality of legal services performed by other attorneys. Anyone considering hiring an attorney should research and investigate the credentials and ability of the attorney.<br/><br/><br/>This advertisement is not intended to be a testimonial, endorsement, or dramatization, nor does it constitute a guarantee, warranty, or representation regarding the outcome or result of your legal matter.<br/>‍
                </div>
                <div class="footertext"><a href="https://camplejune.consumerinjurysettlements.com/termsofservice" class="link"><span>Terms and Conditions</span></a><span> | </span><a href="https://camplejune.consumerinjurysettlements.com/privacypolicy" class="link"><span>Privacy Policy</span></a><span> | </span><a href="https://camplejune.consumerinjurysettlements.com/privacypolicy" class="link"><span>CCPA</span></a><span><br/></span>
                    <br/>© 2022 ConsumerInjurySettlements.com, All Rights Reserved
                </div>
            </div>
        </div>
      
    </body>
    </html>
